#
# Configuration file for RoboSenpai
#


jid : "XXXXX_nnnnnn@chat.hipchat.com" # The bot's JID
nick : "Bot Nick"
password : "LetMeIn"
service : "conf.hipchat.com"

rooms :
  - XXXXX_ChannelForBot
  
modules :
  - PennyArcade
  
